*,
*::before{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

:root{

    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
    --linkedin: #0077B5;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}


main {
    flex-grow: 1;
}

footer {
    display: flex;
    flex-direction: column;
}

.titulares {
    display: flex;
    text-align: center;
    background-color: #000;
    padding: 1rem;
    color: #EEE;
}
.titulares h3{
    font-size: 35px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content:space-between;
    max-width: 9992;
    margin: 0 auto;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.logo{
    max-width: 100%;
}

.nav-menu{
    display: flex;
    margin-right: 10px;
    list-style: none;

}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background-color: #034574;
    transition: .5s;

}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    
    display: none;
}

.hero-image {
    min-height: 90vh;
    background-image: url("../imagens/money.jpg");
    background-repeat: no-repeat;
    color: rgb(49, 14, 14,); 
}

.hero-image div {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(27, 40, 70, 0.85);
}

.hero-image h1 {
    font-size: 5vw;
}
.content-section{ 
    padding: 20px;
    display: flex;
    align-content: space-between;
    align-content:  center;
    flex-flow: column wrap;
     
}
.content-section h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content-section p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box{
    
    color: rgb(10, 5, 26);
    font-weight: bold;
    width:100px;
    height:auto;
    line-height: 50px;
    text-align: center;
    width: 200px;
    margin: 5px;
    flex-wrap: wrap;
}
.box1{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    text-transform: uppercase;
    flex-flow: column wrap;
    width: 700px;
}


.box2{
    display: flex;
    width: 650px;
    height: auto;
    margin: 20px auto;
}

.box2 .box22{
    position: relative;
    width: calc(300px - 20px);
    height: calc(200px - 20px);
    background: #cddc39;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.box2 .box22 .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}

.box2 .box22 .icon:hover{
    color: transparent;
    top: 5px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.box2 .box22 .icon .ic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    font-size: 100px;
}

.box2 .box22:hover .icon .ic{
    height: 75px;
}

.box2 .box22 .content1{
    position:absolute;
    height: calc(100% - 50px);
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    top: 100%;
    transition: 0.5s;
}
.box2 .box22:hover .content1{
    top: 100px;
}

.box2 .box22 .content1 h3{
    margin: 0;
    padding: 0;
    color: #000;
}

.box2 .box22 .content1 p{
    margin: 0;
    padding: 0;
    color: #000;
}

.box2 .box22:nth-child(1) .icon{
    background: #03afff;
}

.box2 .box22:nth-child(2) .icon{
    background: #55da60;
}

.box2 .box22:nth-child(3) .icon{
    background: #3e4142;
}


.box3{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 700px;

    
}

.box3 .box .item-box{
    border: 1px solid rgb(91, 50, 206);
    background-color: rgba(105, 133, 197, 0.95);
    display: flex;
    justify-content: flex-start;;
    width: 700px;
    height: 40px;
}

.box3 p{    
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 4px solid rgb(6, 6, 7);
    display: flex;
    justify-content: center;
    width: 700px;
}

.box3 p:hover{
    background: rgb(94, 89, 89, 0.55);
}
.redes-container {
    display: flex;
    align-items:center;
    justify-items: auto;
    justify-content:center;
}

.redes-container ul li {
    display: inline-flex;
    margin: 20px 5px;
    width: 60px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a {
    display: flexbox;
    padding: 0 10px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    transition: .2s;
}

.redes-container ul:hover a{
    filter: blur(2px);
}

.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    filter: none;
}

.redes-container ul li .twitter:hover {
    background: var(--twitter);
}

.redes-container ul li .instagram:hover {
    background: var(--instagram);
}

.redes-container ul li .facebook:hover {
    background: var(--facebook);
}

.redes-container ul li .linkedin:hover {
    background: var(--linkedin);
}

.contact-form{
    display: flex;
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
    margin: 5% auto;
    
}
.form-area{
    display: flex;
    flex-flow: row wrap;
    background: rgba(102, 177, 207, .8);
    border-radius: 25px;
    padding: 1.9rem;
}

.title-area{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2a50b8;
    padding: 1em;
}
.title-area p{
    margin-bottom: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.msm-area{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    order: 2;
}
.msm-area > textarea{
    flex: 1;
    min-width: 18em;
    background: transparent;
    color:#fff;
    padding: 15px;
}
.details-area{
    flex:1;
    order:1;
    margin-right: 2em;
}
.details-area input{
    width: 100%;
    background: transparent;
    color: #fff;
    border-radius: 40px;
}
.details-area input,
.details-area button{
    padding: 1em;
    margin-bottom: 1em;
}

.details-area button{
    background:tomato;
    color: #fff;
    border: 0;
    padding: 15px 50px;
    border-radius: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
.details-area button:hover{
    cursor:pointer;
    transform: scale(1.04);
    filter:sepia(0.3);
    
}

.labe{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    line-height: 40px;
}

.flex-responsive {
    display: flex;
    flex-flow: row wrap;
}

.flex-item input{
    background:rgb(72, 52, 187);
    color: #fff;
    border: 0;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
}
.flex-item input:hover{
    cursor: pointer;
    filter:brightness(.5);
}
.flex-item h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex-item h2:hover{
    cursor: pointer;
    color: red;
}
.flex-item p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex-item p:hover{
    cursor: pointer;
    color:white;  
}
.flex-item img:hover{
    cursor: pointer;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border:solid 1px rgb(255, 255, 255)
}

.grid-item:hover{
    transform: scale(1.04);
}


.grid-container{
    display: grid;
    font-size: 30px;
    background-color:#034574;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px; 
    grid-auto-flow: dense;  
}

.grid-item:hover figcaption{
    display: block;
}

.grid-item figcaption{
    display: none;
    position: absolute;
    top:5px;
    left: 5px;
    bottom: 5xp;
    right: 5px;
    background: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.btn-ch{
    color: white;
    background-color: #cddc39;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
}
.moneda select{
    border-radius: 2px;
}
   

@media(min-width: 600px){


.wide{
    grid-column: span 2;
}

.tall{
    grid-row: span 2;
}

.moneda input{
    width: 200px;
}
}

@media(max-width: 768px){
    .header {
        height: 80px;
    }

    .logo{
        padding: auto;
    }
     
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #034574;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active{
        background: none;
        color: #83c5f7;
    }

    .nav-toggle{
        display:block;
    }
    
    .nav-menu_visible{
        left: 0;
    }
    .content-section{
        flex-direction: column;
        width: auto;
    }
    .box1{
        font-size: 18px;
        width: auto;
    }
    .box2{
        flex-direction: column;
        width: auto;
    }
    .box2 .box22 .content1{
        justify-items: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .box3{
        align-items: center;
        flex-direction: column;
        width: auto;
    }
    .box3 .box .item-box{
        width:auto;
    }
    
    .box3 p{
        width: auto;
    }
}


@media screen and (min-width:1024px){
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu ul {
        display: flex;
    }
    
    .menu li {
        padding: 1rem;
    }

    .flex-container {
        display: flex;
        align-items: center;
    }

    .flex-item {
        flex: 0 0 50%;
    }

    .flex-row-reverse {
        flex-direction: row-reverse;
    }
}