*,
*::before{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

:root{

    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
    --linkedin: #0077B5;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}


main {
    flex-grow: 1;
}

footer {
    display: flex;
    flex-direction: column;
}

.img-body{
    background-image: url("../imagens/azul.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.img2-body{
    min-height: 80vh;
    background-image: url(../imagens/puerta.jpg);
    background-repeat: no-repeat;
}
.img3-body{
    min-height: 80vh;
    background-image: url(../imagens/trabajo.jpg);
    background-repeat: no-repeat;
}
.titulares {
    display: flex;
    text-align: center;
    background-color: #000;
    padding: 1rem;
    color: #EEE;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content:space-between;
    max-width: 9992;
    margin: 0 auto;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.logo{
    max-width: 100%;
}

.nav-menu{
    display: flex;
    margin-right: 10px;
    list-style: none;

}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background-color: #034574;
    transition: .5s;

}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    
    display: none;
}

.hero-image {
    min-height: 80vh;
    background-image: url("../imagens/money.jpg");
    background-repeat: no-repeat;
    color: rgb(49, 14, 14,); 
}

.hero-image div {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(27, 40, 70, 0.85);
}

.hero-image h1 {
    font-size: 5vw;
}
.content-section{ 
    padding: 20px;
    display: flex;
    align-content: space-between;
    align-content:  center;
    flex-flow: column wrap;
     
}

.box{
    
    color: rgb(10, 5, 26);
    font-weight: bold;
    width:100px;
    height:auto;
    line-height: 50px;
    text-align: center;
    width: 200px;
    margin: 5px;
    flex-wrap: wrap;
}
.box1{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    text-transform: uppercase;
    flex-flow: column wrap;
    width: 700px;
}


.box2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 700px;
    
}

.box2 .box-eye{
    border: 1px solid rgb(70, 69, 69);
    display: flex;
    flex-flow: column wrap;
    width: 200px;
    height: 150px;
}
.box2 .box-eye:hover{
    background-color: #034574;
    transition: 0.5s;
}

.box2 .box-dollar{
    border: 1px solid rgb(70, 69, 69);
    display: flex;
    flex-flow: column wrap;
    width: 200px;
    height: 150px;
}

.box2 .box-dollar:hover{
    background-color: #06a342;
    transition: 0.5s;
}
.box2 .box-user{
    border: 1px solid rgb(70, 69, 69);
    display: flex;
    flex-flow: column wrap;
    width: 200px;
    height: 150px;
}

.box2 .box-user:hover{
    background-color: #5a665f;
    transition: 0.5s;
}
.box2 .icon1{
    display: flex;
    flex-flow: column wrap;
    color: #5d34cff6;
    padding: 10px;
    font-size: 40px;
}
.box2 .icon2{
    display: flex;
    flex-flow: column wrap;
    color: #07571ff6;
    padding: 10px;
    font-size: 40px;
}
.box2 .icon3{
    display: flex;
    flex-flow: column wrap;
    color: #0a0516f6;
    padding: 10px;
    font-size: 40px;
}


.box3{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 700px;

    
}

.box3 .box .item-box{
    border: 1px solid rgb(91, 50, 206);
    background-color: rgba(105, 133, 197, 0.95);
    display: flex;
    justify-content: flex-start;;
    width: 700px;
    height: 40px;
}

.box3 p{    
    color: blue;
    border: 4px solid rgb(39, 18, 95);
    display: flex;
    justify-content: center;
    width: 700px;
}


.redes-container {
    display: flex;
    align-items:center;
    justify-items: auto;
    justify-content:center;
}

.redes-container ul li {
    display: inline-flex;
    margin: 20px 5px;
    width: 60px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a {
    display: flexbox;
    padding: 0 10px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    transition: .2s;
}

.redes-container ul:hover a{
    filter: blur(2px);
}

.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    filter: none;
}

.redes-container ul li .twitter:hover {
    background: var(--twitter);
}

.redes-container ul li .instagram:hover {
    background: var(--instagram);
}

.redes-container ul li .facebook:hover {
    background: var(--facebook);
}

.redes-container ul li .linkedin:hover {
    background: var(--linkedin);
}

.contact-form{
    display: flex;
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
    margin: 5% auto;
    
}
.form-area{
    display: flex;
    flex-flow: row wrap;
    background: rgba(102, 177, 207, .8);
    border-radius: 25px;
    padding: 1.9rem;
}

.title-area{
    color: #2a50b8;
    padding: 1em;
}
.msm-area{
    display: flex;
    flex-direction: column;
    order: 2;
}
.msm-area > textarea{
    flex: 1;
    min-width: 18em;
    background: transparent;
    color:#fff;
    padding: 15px;
}
.details-area{
    flex:1;
    order:1;
    margin-right: 2em;
}
.details-area input{
    width: 100%;
    background: transparent;
    color: #fff;
    border-radius: 40px;
}
.details-area input,
.details-area button{
    padding: 1em;
    margin-bottom: 1em;
}

.details-area button{
    background:tomato;
    color: #fff;
    border: 0;
    padding: 15px 50px;
    border-radius: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.labe{
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
}

.flex-responsive {
    display: flex;
    flex-flow: row wrap;
}
.flex-item input{
    background:rgb(72, 52, 187);
    color: #fff;
    border: 0;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border:solid 1px rgb(255, 255, 255)
}

.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}


.grid-container{
    display: grid;
    font-size: 30px;
    background-color:#034574;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px; 
    grid-auto-flow: dense;  
}

.grid-item:hover figcaption{
    display: block;
}

.grid-item figcaption{
    display: none;
    position: absolute;
    top:5px;
    left: 5px;
    bottom: 5xp;
    right: 5px;
    background: rgba(0, 0, 0, .9);
    text-align: center;
    padding: 15px;
    color: white;
}

@media(min-width: 600px){


.wide{
    grid-column: span 2;
}

.tall{
    grid-row: span 2;
}
}

@media(max-width: 768px){
    .header {
        height: 80px;
    }

    .logo{
        padding: auto;
    }
     
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #034574;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active{
        background: none;
        color: #83c5f7;
    }

    .nav-toggle{
        display:block;
    }
    
    .nav-menu_visible{
        left: 0;
    }
    .content-section{
        flex-direction: column;
        width: auto;
    }
    .box1{
        font-size: 18px;
        width: auto;
    }
    .box2{
        align-items: center;
        flex-direction: column;
        width: auto;
    }
    .box3{
        align-items: center;
        flex-direction: column;
        width: auto;
    }
    .box3 .box .item-box{
        width:auto;
    }
    
    .box3 p{
        width: auto;
    }
}


@media screen and (min-width:1024px){
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu ul {
        display: flex;
    }
    
    .menu li {
        padding: 1rem;
    }

    .flex-container {
        display: flex;
        align-items: center;
    }

    .flex-item {
        flex: 0 0 50%;
    }

    .flex-row-reverse {
        flex-direction: row-reverse;
    }
}